version: '3'
services:
  ali-db:
      image: xakiox/ail-test-db:latest
      command: ["postgres", "-c", "max_connections=2048", "-c", "shared_buffers=1GB"]
      restart: unless-stopped
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: ail
      ports:
        - "35437:5432"
      networks:
        - ail-network
  fetch:
      image: xakiox/ail-test-fetch:latest
      restart: unless-stopped
      depends_on:
        - ali-db
      build:
        context: .
        dockerfile: ./fetch.Dockerfile
      env_file:
        - ./cmd/fetch/.env
      environment:
        - API_DB_HOST=host.docker.internal
  api:
      image: xakiox/ail-test-api:latest
      restart: unless-stopped
      depends_on:
        - ali-db
        - fetch
      build:
        context: .
        dockerfile: ./api.Dockerfile
      env_file:
        - ./cmd/api/.env
      environment:
        - API_DB_HOST=host.docker.internal
      ports:
        - "3007:3007"
networks:
  ail-network:
    external: false

volumes:
  ail-db: