version: '3'
services:
  ali-db:
      image: xakiox/ail-test-db:latest
      restart: unless-stopped
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: ail
      ports:
        - "35437:5432"
      networks:
        - ail-network
  pgbouncer:
    image: edoburu/pgbouncer
    ports:
      - "6432:6432"
    environment:
      DATABASE_URL: "postgres://postgres:postgres@ali-db:5432/ail"
      LISTEN_PORT : "6432"
      DB_USER: "postgres"
      DB_PASSWORD: "postgres"
      AUTH_TYPE: "plain"
      USERS: "postgres:postgres"
      POOL_MODE: "session"
      MAX_CLIENT_CONN: "10000"
      DEFAULT_POOL_SIZE: "1000"
    networks:
      - ail-network
    depends_on:
      - ali-db
    restart: always
  fetch:
      image: xakiox/ail-test-fetch:latest
      restart: unless-stopped
      depends_on:
        - ali-db
        - pgbouncer
      entrypoint: /bin/sh -c "sleep 30 && exec original-entrypoint.sh"
      env_file:
        - <ENV OF FETCH>
      environment:
        - API_DB_HOST=host.docker.internal
  api:
      image: xakiox/ail-test-api:latest
      restart: unless-stopped
      depends_on:
        - ali-db
        - pgbouncer
        - fetch
      entrypoint: /bin/sh -c "sleep 30 && exec original-entrypoint.sh"
      env_file:
        - <ENV OF API>
      environment:
        - API_DB_HOST=host.docker.internal
      ports:
        - "3007:3007"
networks:
  ail-network:
    driver: bridge
    external: false
volumes:
  ail-db: